<?xml version="1.0" encoding="utf-8"?>

<Config>
    <DataPath>D:\SteamLibrary\steamapps\common\Star Wars Empire at War\corruption\Mods\FotRDev\Data</DataPath>
    <MaximumFleetMovementDistance>0</MaximumFleetMovementDistance>
    <StartingForcesLibraryURL>D:\SteamLibrary\steamapps\common\Star Wars Empire at War\corruption\Mods\EaWXStartingForces\ICWProgressives.csv</StartingForcesLibraryURL>
</Config>
